$gradient-orange: linear-gradient(180deg, #FDAD00 0%, #EA6C00 100%);
$gradient-black: linear-gradient(0deg, #191919 0%, #4F4F4F 100%);
$gradient-lightBlack: linear-gradient(247.76deg, #363838 0.84%, #363636 100%);
$gradient-green: linear-gradient(216.23deg, #64FA9B -0.8%, #5FE36A 101.35%);
$gradient-blue: linear-gradient(218.77deg, #3CBDF2 13.9%, #0DE7F2 83.47%);
$gradient-blueDark:linear-gradient(225deg, #2DC7ED 0%, rgba(83, 139, 240, 0) 100%);
$lightBlack: #363838;
$green-vue: #77dd77;
$blue-vue: #2c3e50;
$white: #f9f9f9;