@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import 'partials/calculator';
@import 'partials/colors';

* {
    color: #1a1a1a;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
}

.page {
    width: 100%;
    padding: 12px 24px;
    margin: 24px 0px;

    background: $white;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

#title {
    font-size: 30px;
    font-weight: 500;
}

.titlePage {
    background: $gradient-orange;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        width: 170px;
        height: 4px;
        left: 40%;
        border-radius: 5px;
        background: $gradient-orange;

    }
}

#app {
    text-align: center;
}
  
#nav {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
  
#nav a {
    position: relative;
    padding: 12px 14px;
    color: $lightBlack;
    margin: 5px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    transition: color 0.5s linear;

    &:hover {
        box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
        opacity: 0.8;
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 4px;
            border-radius: 5px;
            background: $gradient-blueDark;
        }
    }
}

#nav a.router-link-exact-active {
    position: relative;
    background: $gradient-green;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        border-radius: 5px;
        background: $gradient-green;
    }
}